/* * {
  border: 1px solid black;
}
*/
body {
  height: 100vh;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

#header {
  background-color:#F39C12  ;  
  border-bottom: 5px solid #DAF7A6;
}

#header a {
  color: #F4D03F ;
  text-decoration: none;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header li {
  display: inline;
  padding: 0 20px;
  font-family: "Audiowide", sans-serif;
}
#branding {
  color: white;
  font-family: "Audiowide", sans-serif;
}

#spanColor {
  color: #1B2631 ;
}
#main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://media.istockphoto.com/photos/paragliding-into-the-sunset-over-the-ocean-picture-id467998919?k=6&m=467998919&s=612x612&w=0&h=5ftL1Gaxk0t9bVMIFI82SLaEoV1KgcT2A5w-VLhPe-A=");
  background-size: cover;
  text-align: center;
  color: white;
  height: 90vh;
}

#main h1 {
  font-size: 60px;
  margin: 200px 0 10px;
  font-family: "Audiowide", sans-serif;
}

#main p {
  font-size: 30px;
  font-family: "Audiowide", sans-serif;
}

#about, #contact {
  background-color: black;
  color: white;
}
#about h2, #contact h2 {
  font-size: 30px;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  color: #F4D03F;
}

#about p, #contact p {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  padding: 0 12px;
}

#about, #contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/originals/e2/aa/78/e2aa78dcacaebc5432b4a98250121d0e.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  height: 110vh;
}

